---
// Footer.astro

const currentYear = new Date().getFullYear();
---

<footer class="flex flex-col items-center p-4 merriweather text-xs">
    <img src="/images/logo.webp" class="h-20" />
    <p>© {currentYear} True Beauty Esthetics</p>
</footer>