---
// BaseLayout.astro

import "../styles/global.css";
import "../styles/fonts.css";

import ClientRouter from "astro/components/ClientRouter.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

// @fontsources
import "@fontsource-variable/playfair-display";
import "@fontsource-variable/merriweather";

const { title, hero } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <title>T.B.E YEG | {title}</title>
        <ClientRouter />
    </head>

    <body class="font-sans min-h-screen flex flex-col">
        {
            hero && (
                <div class="absolute top-0 left-0 -z-10 w-full h-screen overflow-hidden">
                    <img
                        src={hero}
                        alt="Hero image"
                        class="w-full h-full object-cover object-top blur-sm opacity-50
                        [mask-image:linear-gradient(to_bottom,rgba(0,0,0,1)_80%,rgba(0,0,0,0)_100%)] 
                        [mask-repeat:no-repeat] [mask-size:cover] 
                        [-webkit-mask-image:linear-gradient(to_bottom,rgba(0,0,0,1)_80%,rgba(0,0,0,0)_100%)] 
                        [-webkit-mask-repeat:no-repeat] [-webkit-mask-size:cover]"
                    />
                </div>
            )
        }

        <div class="p-8 max-w-6xl mx-auto w-full flex-1">
            <Navbar />

            <main class="mt-10 max-w-full">
                {
                    !hero && (
                        <h1 class="text-center text-6xl lg:text-8xl cursive">
                            {title}
                        </h1>
                    )
                }

                <slot />
            </main>
        </div>

        <Footer />
    </body>
</html>
