---
// contact.astro

import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Contact">
    <div class="playfair lg:text-xl mt-10 flex flex-col items-center">
        <p>Questions or concerns?</p>
        <h1 class="text-2xl font-bold mt-2">We would love to hear from you!</h1>
    </div>

    <!-- Email support ticket system here -->
</BaseLayout>