---
// philosophy.astro

import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Our Philosophy">
    <div class="playfair lg:text-xl text-center mt-16 flex flex-col gap-y-4">
        <p>At <i>True Beauty Esthetics</i>, our mission is to celebrate and enhance the natural beauty of every client.</p>

        <p>
            Rooted in <b>Edmonton, AB</b>, we believe true radiance comes from within—and our role is to bring that glow to the surface.
            Through <b>personalized skincare and beauty treatments</b>, we empower individuals to feel confident, authentic, and luminous in their own skin.
        </p>

        <br>
        <p>At <i>T.B.E</i>, we’re more than esthetics—we’re about uplifting spirits, fostering connection, and helping every client embrace their true beauty.</p>
    </div>
</BaseLayout>