---
// services.astro

import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Our Services">
    <div class="playfair lg:text-xl text-center mt-16 flex flex-col gap-y-4">
        
    </div>
</BaseLayout>