---
import { SEO } from "astro-seo";

export interface Props {
    title?: string;
    description?: string;
    ogImage?: string;
    ogType?: string;
}

const {
    title = "True Beauty Esthetics",
    description = "A heavily optimized description full of well-researched keywords.",
    ogImage = "/default-og.png",
    ogType = "website",
} = Astro.props;
---

<html lang="en">
    <head>
        <SEO
            title={title}
            description={description}
            openGraph={{
                basic: {
                    title,
                    type: ogType,
                    image: ogImage,
                },
            }}
            extend={{}}
        />
    </head>
    <body>
        <slot />
    </body>
</html>
